<header class="header">
  <div class="container">
    <p>Current UAH currency rate</p>
    <p>1 USD = 30 UAH</p>
    <p>1 EUR = 35 UAH</p>
  </div>
</header>

<section class="section">
  <div class="container">
    <form [formGroup]="homePageForm" (ngSubmit)="convert()">
      <label for="value-from"> FROM
        <input formControlName="valueFrom" type="number" name="value-from" />
      </label>
      <label for="select-from">
         <select formControlName="selectFrom" name="select-from" id="select-from">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
         </select>
      </label>
      <label for="value-to"> TO
        <input formControlName="valueTo" type="number" name="value-to" />
      </label>
      <label for="select-to">
        <select formControlName="selectTo" name="select-to" id="select-to">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
     </label>
     <button type="submit">Convert</button>
    </form>
  </div>
</section>
